 /*		Stylesheet for Cafe Carla
		Developed By Ethan Burford
		07/10/2020
		Version 0.5
 */
 
body {
	font-family: Verdana, Helvetica, sans-serif;
	background-color: #141414;
	font-
	
} 

p {
	text-align: l;
	color: white;
}

header {
	height: 80px;
	display: flex;
	align-items: center;
}

nav li {
	display: inline;
}

nav li a {
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 20px;
	
}

nav li a:hover {
	color: black;
	background-color: white;
}

h1 {
	font-family: "Brush Script MT", cursive;
	width: 100%;
	color: white;
	background-color: #242424;
	text-align: center;
}

footer {
	background-color: gray;
	padding: 20px;
	text-align: center;
	margin-top: 10px;
}

footer a {
	color: black;
	text-decoration: none;
	padding: 10px;
}

input[type=text] {
  width: 50%;
}

input[type=text] {

  width: 12%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #f8f8f8;
  border-bottom: 2px solid white;
  border-radius: 8px;
  outline: none;
  background-image: url('images/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 35%;
}

textarea {
  width: 50%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  outline: none;
  border: none;
  border-left: 2px solid white;
  border-radius: 8px;
  background-color: #f8f8f8;
  resize: none;
  color: white;
}

select {
	color: white;
  width: 30%;
  padding: 16px 20px;
  border: none;
  border-bottom: 2px solid black;
  border-radius: 4px;
  background-color: #f8f8f8;
}

input[type=button], input[type=submit] {
  background-color: #05A167;
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[type=button], input[type=reset] {
  background-color: #ff5454;
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}